rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Aturan untuk thumbnail dan aset template app
    match /templates/{allPaths=**} {
      // Izinkan publik / user membaca gambar thumbnail
      allow read: if true;
      // Izinkan user terotentikasi (admin) mengunggah dan memodifikasi file
      allow write: if request.auth != null;
    }
    
    // Aturan fallback umum
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
